html
  head
    title= title
    include ../includes/styles.pug
  body
    include ../includes/nav.pug
    div(class='container')
      div(class='row my-4')
        div(class='col-sm')
            h1= pageTitle

      div(class='row mb-4')
        div(class='col')
          ul(class='nav nav-tabs' id='challenge-tabs' role='tablist')
            li(class='nav-item')
              a(class='nav-link active' data-toggle='tab' href="#active" role='tab') 
                Active Challenges
                span(class='badge badge-secondary ml-2' id='activeTotal')
            li(class='nav-item')
              a(class='nav-link' data-toggle='tab' href="#archived" role='tab') 
                Archived Challenges
                span(class='badge badge-secondary ml-2' id='archivedTotal')
          div(class='tab-content')
            div(class='tab-pane fade show active' id='active' role='tabpanel')
              table(class='table my-4')
                thead
                  tr
                    th ID
                    th Badge
                    th Name
                    th Short Description
                    th(class='text-right') Actions
                tbody(id='challenge-list-active')
            div(class='tab-pane fade' id='archived' role='tabpanel')
              table(class='table my-4')
                thead
                  tr
                    th ID
                    th Badge
                    th Name
                    th Short Description
                    th(class='text-right') Actions
                tbody(id='challenge-list-archived')
      div(class='row ')
        div(class='col-sm')
          div(class='card')
            div(class='card-body')
              h4(class='mb-4') Create Challenge
              form(class='form')
                div(class='form-group')
                  input(type='text' name='name' class='form-control' placeholder='Challenge name')
                div(class='form-group')
                  input(type='text' name='shortDescription' class='form-control' placeholder='Short description')
                div(class='form-group')
                  textarea(type='text' name='description' rows='5' class='form-control' placeholder='Long description')
                div(class='form-group')
                  label(for='badge') Badge Graphic
                  input(type='file' name='badge' class='form-control' placeholder='Short description')
                div(class='form-group')
                  button(type='submit' class='btn btn-primary') Create Challenge


    
    include ../includes/script.pug
    include ../scripts/challenge-scripts.pug
    script.
      fetchChallenge("#{id}").then(function (challenges) {
        renderChallenges(challenges);
      })

      jQuery(document).on('submit', 'form', function (event) {
        event.preventDefault();

        var formData = new FormData(event.target);
        var formValues = Object.fromEntries(formData);

        uploadBadge(formValues.badge, formValues.name).then(function (badge) {
          formValues.badge = badge.files[0].originalname
          createChallenge(formValues).then(function () {
            fetchChallenges().then(function (challenges) {
              renderChallenges(challenges);
            })
          })
        });
      });

    
           
    
